$blue: #67add5;
$gray: #d5d5d5;

body {
  font-size: 16px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.reminderMessage {
  background: #e9f9fc;
  border: 1px solid #bcefff;
  padding: 13px;
  border-radius: 5px;
}

.inputBox {
  font-size: 16px;

  button,
  input {
    width: 48px;
    height: 48px;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    border-color: $blue;
    color: $blue;
    cursor: pointer;

    &:disabled {
      color: $gray;
      border-color: $gray;
      cursor: not-allowed;
    }
  }

  input {
    width: 44px;
    height: 44px;
    border-color: $gray;
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.roomWrapper {
  border-bottom: 1px solid $gray;
  padding: 7px 0;
  margin-bottom: 10px;

  .itemWrapper {
    display: flex;
    padding: 7px 0;
    justify-content: space-between;
  }

  .itemLabel {
    font-weight: bold;

    div {
      color: darken($gray, 30%);
    }
  }
}




// hide input number arrow
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}